Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Animations
Content/Characters
Content/Effects
Content/Collections
Content/Developers
Content/Effects
Content/Environment
Content/Maps
Content/Movies
Content/Slate
Content/Sounds
Content/UI
Content/Weapons
Content/InfinityBladeGrassLands

DerivedDataCache

